body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
}


.logo {
    font-weight: 900;
}

.header-section {
    background: darkcyan;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    max-width: 400px;
}

.hero-image {
    width: 400px;
    height: 200px;
    background: gray;
}
